Repository PalmID/ppic: changes, and which Codecov flags are due for each by the changed paths.
All: app, tests

.codecov.yml:

coverage:
  precision: 2
  round: nearest
  range: "90...95"
  status:
    project:
      default: false
      tests:
        target: 90%
        flags: tests
      app:
        target: 95%
        flags: app
    patch:
      default: false
      tests:
        target: 95%
        flags: tests
      app:
        target: 98%
        flags: app
  ignore:
    - "thirdparty/"
    - "configs/"
    - "app/main.cpp"

flags:
  app:
    paths:
      - app/
  tests:
    paths:
      - tests/

codecov:
  branch: master

comment:
  layout: "reach, diff, flags, files"

add git attributes for C++ language
  .gitattributes
Due: none

delete git attributes
  .gitattributes
Due: none

cppcheck Severities enable performance
  .gitlab-ci.yml
Due: none

merge
  tests/test_common/session_pool_unittest.cpp
Due: tests

manage support google cpplint
  manage.sh
Due: none

create user table sql statement
  app/models/user.cpp
  app/models/user.h
Due: app

user model create table sql
  app/models/user.cpp
  tests/test_db/session_pool_unittest.cpp
  tests/test_models/user_unittest.cpp
Due: app, tests

SessionPoolOption add database option
  app/common/singleton.h
  app/db/session_pool.cpp
  app/db/session_pool.h
  app/main.cpp
  app/models/user.cpp
  app/models/user.h
  manage.sh
  tests/test_common/singleton_unittest.cpp
  tests/test_db/session_pool_unittest.cpp
  tests/test_models/user_unittest.cpp
Due: app, tests

add smart session
  app/db/smart_session.cpp
  app/db/smart_session.h
Due: app

smart session unittest
  tests/test_db/smart_session_unittest.cpp
Due: tests

session pool fit for smart session
  app/db/session_pool.cpp
Due: app

test session pool when db env does not exist
  tests/test_db/session_pool_unittest.cpp
Due: tests

code cov yml
  .codecov.yml
Due: none

codecov test enable status
  .codecov.yml
Due: none

codecov try
  .codecov.yml
Due: none

SmartSession support 'USE DATABASE' sql
  .codecov.yml
  app/db/session_pool.cpp
  app/db/session_pool.h
  app/db/smart_session.cpp
  app/db/smart_session.h
  app/models/user.cpp
  tests/test_db/session_pool_unittest.cpp
Due: app, tests

fix app main compile error
  .gitlab-ci.yml
  app/db/session_pool.cpp
  app/db/session_pool.h
Due: app

manage support gdb test|app
  Dockerfiles/Dockerfile.ci
  manage.sh
Due: none

complete create table|user get user && uniitests
  app/db/session_pool.cpp
  app/db/session_pool.h
  app/models/user.cpp
  app/models/user.h
  tests/test_models/user_unittest.cpp
Due: app, tests

drop table reset shared_ptr
  app/models/user.cpp
Due: app

add some test for user model
  app/models/user.cpp
  tests/test_models/user_unittest.cpp
Due: app, tests

modify for session pool multithread tests
  app/db/session_pool.cpp
  tests/test_db/session_pool_unittest.cpp
Due: app, tests

modify for session pool multithread tests
  tests/test_db/session_pool_unittest.cpp
Due: tests

push_back -> emplace_back
  app/db/session_pool.cpp
  tests/test_db/session_pool_unittest.cpp
Due: app, tests

notify all waiting thread when destruct
  app/db/session_pool.cpp
  app/db/session_pool.h
Due: app

fix sessionpool bug
  app/db/session_pool.cpp
  tests/test_db/session_pool_unittest.cpp
Due: app, tests

improve covrage
  tests/test_db/session_pool_unittest.cpp
Due: tests
